.image {
  background-size: 60%;
  border-radius: 10%;
  box-shadow: 0 10px 6px -6px black;
  background-position-x: center;
  background-position-y: top;
  margin-left: 15%;
  text-align: center;

  background-repeat: no-repeat;
  min-height: 50vh;
  max-width: 70%;
}

@media only screen and (max-width: 1440px) {
  .image {
    min-height: auto;
    background-size: 59%;
  }
}
@media only screen and (max-width: 1024px) {
  .image {
    background-size: 53%;
  }
}
@media only screen and (max-width: 999px) {
  .image {
    background: transparent;
    display: none;
    min-height: auto;
  }
}
