.image {
  background-size: 60%;
  border-radius: 10%;
  box-shadow: 0 10px 6px -6px black;
  background-position-x: center right;
  background-position-y: top;

  background-repeat: no-repeat;
  min-height: 50vh;
  max-width: 70%;

  @media only screen and (max-width: 1440px) {
    min-height: auto;
    background-size: 59%;
  }
  @media only screen and (max-width: 1024px) {
    background-size: 53%;
  }
  @media only screen and (max-width: 999px) {
    background: transparent;
    background-image: none;
    min-height: auto;
  }
}
