.stories {
  text-align: center;
  margin-left: 2vh;
  line-height: 4em;
}

.wild {
  font-family: 'Alice', serif;
  font-size: 2.5em;
  color: #ec6f48;
}
a.wild {
  border-bottom: 1px solid #545454;
  color: #ec6f48;
  padding-bottom: 0.25em;
  text-decoration: none;
}

a.wild:hover {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/squiggle.svg');
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 20%;
  border-bottom: 0;
  padding-bottom: 0.3em;
  text-decoration: none;
}

body {
  font-family: 'Raleway', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Alice', serif;
  margin-top: 0;
}
p {
  font-family: 'Raleway', sans-serif;
}
